<div id="about" class="relative">
    <div id="top-about">
    <div id="gradient" class="bg-gradient-to-t from-blue-950/70 to-blue-950/20 w-full">

    <div id="about-us" class="max-w-[1200px] mx-auto py-20">

    <h1 class="text-white text-6xl font-bold drop-shadow-md uppercase max-w-[600px] pt-[5%]">About Us</h1>
    <div id="site-description" class="max-w-[600px] mt-6 bg-blue-950/60 p-3 rounded-sm">
        <p class=" text-white/80">
            At Travel Bloom, we believe that every journey should be as unique and unforgettable as the traveller experiencing it. Whether you're chasing sunsets on tropical beaches, exploring vibrant cities, or uncovering hidden gems off the beaten path, our mission is to inspire and guide your adventures.
        </p>
        <p class="text-white/80 mt-2" >Founded by passionate explorers, Travel Bloom is your trusted companion in discovering dream destinations. With carefully curated recommendations and insights, we’re here to make planning your next getaway effortless, exciting, and tailored just for you.</p>
    </div>
</div>
</div>
</div>
<div id="our-team" class=" bg-white">
    <div class="max-w-[1200px] mx-auto">
    <h1 class="text-blue-950/80 text-4xl font-bold drop-shadow-md uppercase text-center pt-[5%]">Our Team</h1>
    <div class="flex sm:flex-row flex-col gap-6 mt-10 mb-20">

        <div class="sm:w-1/3 w-full bg-gradient-to-t from-[#112C54]  to-[#7B5A5B] rounded-sm p-3 drop-shadow-sm flex items-center sm:flex-col flex-row gap-3 py-4">
            <div>
                <div id="avatar" class="rounded-full h-[150px] w-[150px] bg-cover mb-5 drop-shadow-md border-gray-400 border-2" style="background-image: url('../assets/images/profiles/emily.jpg')">
                </div>
                <h4 class="text-white font-semibold text-xl text-center">Emily Rivera </h4>
                <p class="text-blue-100 font-medium text-md text-center">Founder and CEO</p>
            </div>
            <div class="py-2">
                <p class="text-blue-50 text-md py-3 px-2">Emily is a lifelong travel enthusiast who turned her passion for exploration into a career. With over a decade of experience in the travel industry, she leads Travel Bloom with creativity and a deep understanding of what makes every trip special.</p>
            </div>
        </div>
        <div class="sm:w-1/3 w-full bg-gradient-to-t from-[#112C54]  to-[#7B5A5B]  rounded-sm p-3 drop-shadow-sm flex items-center sm:flex-col flex-row gap-3 py-4">
            <div>
                <div id="avatar" class="rounded-full h-[150px] w-[150px] bg-cover mb-5 border-gray-400 drop-shadow-md border-2" style="background-image: url('../assets/images/profiles/liam.jpg')">
                </div>
                <h4 class="text-white font-semibold text-xl text-center">Liam Patel </h4>
                <p class="text-blue-100 font-medium text-md text-center">Destination Research</p>
            </div>
            <div class="py-2">
                <p class="text-blue-50 text-md py-3 px-2">Liam is an adventurer at heart and has visited over 50 countries. He’s dedicated to finding the most inspiring destinations and experiences to share with Travel Bloom’s community.</p>
            </div>
        </div>

        <div class="sm:w-1/3 w-full bg-gradient-to-t from-[#112C54]  to-[#7B5A5B] rounded-sm p-3 drop-shadow-sm flex items-center sm:flex-col flex-row gap-3 py-4">
            <div>
                <div id="avatar" class="rounded-full h-[150px] w-[150px] bg-cover mb-5 border-gray-400 drop-shadow-md border-2" style="background-image: url('../assets/images/profiles/sofia.jpg')">
                </div>
                <h4 class="text-white font-semibold text-xl text-center">Sofie Tan </h4>
                <p class="text-blue-100 font-medium text-md text-center">Content Specialist</p>
            </div>

            <div class="py-2">
                <p class="text-blue-50 text-md py-3 px-2">Sofia combines her love for storytelling with her knack for travel photography. She ensures that every guide, tip, and recommendation on Travel Bloom is informative, engaging, and visually stunning.</p>
            </div>
        </div>

    </div>

</div>

</div>
<footer class="text-center text-blue-950/60 text-sm absolute -bottom-16 left-[45%]">&copy; 2025 <a href="https://finesse.dev">Finesse Dev Studio</a></footer>

</div>