<div id="contact" class="min-h-[90vh] relative">
    <div id="gradient" class="bg-gradient-to-t from-blue-950/70 to-blue-950/20 w-full min-h-[90vh]">
<div id="contact-content" class="max-w-[1200px] mx-auto ">
    <div class="md:flex gap-3 block pt-60">
    <div class="w-3/5">
        <div class="pb-6">
            <h1 class="text-white text-7xl font-bold drop-shadow-md uppercase max-w-[600px] pb-2">Contact Us</h1>
            <h6 class="text-white text-xl ">We would love to hear from you!</h6>
        </div>
        <div>
            <h6 class="text-white font-semibold text-2xl pt-3 pb-1">Email</h6>
            <p class="text-md text-white font-light">hello@travelbloom.mail</p>
        </div>
        <div>
            <h6 class="text-white font-semibold text-2xl pt-3 pb-1">Socials</h6>
            <div id="socials" class="flex gap-4 my-5">
                <img src="https://raw.githubusercontent.com/finesse-codes/travel-bloom/9c41baab13bd53c1f6b3d7bd332d90add934b396/assets/images/socials/facebook.svg" class="text-white" />
                <img src="https://raw.githubusercontent.com/finesse-codes/travel-bloom/9c41baab13bd53c1f6b3d7bd332d90add934b396/assets/images/socials/instagram.svg" class="text-white" />
                <img src="https://raw.githubusercontent.com/finesse-codes/travel-bloom/9c41baab13bd53c1f6b3d7bd332d90add934b396/assets/images/socials/x.svg" class="text-white" />
                <img src="https://raw.githubusercontent.com/finesse-codes/travel-bloom/9c41baab13bd53c1f6b3d7bd332d90add934b396/assets/images/socials/youtube.svg" class="text-white" />
            </div>
        </div>

    </div>
    <div class="w-2/5">
        <form class="ml-auto space-y-4">
            <input type='text' placeholder='Name'
                class="w-full rounded-md py-3 px-4 bg-gray-100/30  placeholder:text-white border-white/80 border-[1px] text-white text-sm outline-blue-500 focus:bg-transparent" />
            <input type='email' placeholder='Email'
                class="w-full rounded-md py-3 px-4 bg-gray-100/30 placeholder:text-white border-white/80 border-[1px] text-white text-sm outline-blue-500 focus:bg-transparent" />
            <input type='text' placeholder='Subject'
                class="w-full rounded-md py-3 px-4 bg-gray-100/30 placeholder:text-white border-white/80 border-[1px] text-white text-sm outline-blue-500 focus:bg-transparent" />
            <textarea placeholder='Message' rows="6"
                class="w-full rounded-md px-4 bg-gray-100/30 placeholder:text-white border-white/80 border-[1px] text-white text-sm pt-3 outline-blue-500 focus:bg-transparent"></textarea>
            <button type='button'
                class="text-white bg-blue-500 hover:bg-blue-600 tracking-wide rounded-md text-sm px-4 py-3 w-full !mt-6">Send</button>
        </form>
    </div>
</div>
    </div>

</div>
<footer class="text-center text-white/60 text-sm absolute bottom-0 left-[45%]">&copy; 2025 <a href="https://finesse.dev">Finesse Dev Studio</a></footer>

</div>